html {
    font-size: 12px;
}

.cabecera {
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
}
 h1{
     color: blue;
     text-align: center;
 }
 
  b{
     margin-left: 25px;
 }

 .padre {
    /* IMPORTANTE */
    text-align: center;
  }
  
  .hijo {
    /* background-color: yellow; */
    padding: 10px;
    margin: 5px;
    display: inline-block;
  }